@model PROACTIS.ExampleApplications.CustomTabMVC.Models.LandingDetails

@{
    ViewBag.Title = "Index";
}

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Token)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Token)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.URL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.URL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DatabaseTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DatabaseTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SessionDetails.CompanyCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SessionDetails.CompanyCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SessionDetails.CompanyGUID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SessionDetails.CompanyGUID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SessionDetails.DepartmentCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SessionDetails.DepartmentCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SessionDetails.DepartmentGUID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SessionDetails.DepartmentGUID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SessionDetails.LoginID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SessionDetails.LoginID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SessionDetails.SessionID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SessionDetails.SessionID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SessionDetails.StoreCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SessionDetails.StoreCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SessionDetails.StoreGUID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SessionDetails.StoreGUID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SessionDetails.UserGUID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SessionDetails.UserGUID)
        </dd>

    </dl>
</div>


@section scripts
{
    <script type="text/javascript">
        //Hide the spinner in the main window.
        $().ready(function () {
            parent.hideSpinner();
        });
    </script>
}